@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    
  }
}

body {
  color: var(--foreground);
  background: var(--background);
 
}

* {
  -webkit-tap-highlight-color: transparent;
}




.pclooksMain {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px;
}



















a:link {
  text-decoration: none !important;
}







.pclooks{
  display: flex;
  flex-direction: column;
}

/*pc*/
@media screen and (min-width: 900px) {
   .pclooksMain {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e9ecef;
  }

  .pclooks2 {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .pclooks {
    width: 41%;
  }

  



 


  

 

 


}

/*tablet*/
@media screen and (min-width: 601px) and (max-width: 899px) {
  .pclooks {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }

  

  .maps{
    margin-top: 50px;
  }

 
}


/*phone*/
@media screen and (max-width: 600px) {
  


 

  .maps {
    border-bottom: 1px solid #e9ecef;
    order: 1;
  }

  .pclooksMain{
    grid-template-columns: 1fr; /* One column layout */
  }
}









